@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-gradient-radial {
    background-image: radial-gradient(circle, var(--tw-gradient-stops));
  }

  .bg-gradient-radial-at-t {
    background-image: radial-gradient(circle at top, var(--tw-gradient-stops));
  }

  .bg-gradient-radial-at-b {
    background-image: radial-gradient(
      circle at bottom,
      var(--tw-gradient-stops)
    );
  }

  .bg-gradient-radial-at-l {
    background-image: radial-gradient(circle at left, var(--tw-gradient-stops));
  }

  .bg-gradient-radial-at-r {
    background-image: radial-gradient(
      circle at right,
      var(--tw-gradient-stops)
    );
  }
}
